<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <extensions>
    <add assembly="Rabbit.Components.Logging.NLog.Web" />
  </extensions>
  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}App_Data\Logs\${shortdate}\log.log" concurrentWrites="false" archiveAboveSize="10240000"
            layout="Date：${longdate}${newline}Message：${message}${newline}Exception：${exception}${newline}Level：${level}${newline}Logger：${logger}${newline}ThreadId：${threadid}${newline}${url}${tenant}====================================================================================================" />
    <target xsi:type="Console" layout="${message}" name="console" />
    <!--<target name="event" xsi:type="EventLog"
            layout="Date：${longdate}${newline}Message：${message}${newline}Exception：${exception}${newline}Level：${level}${newline}Shell：${shell}${newline}Logger：${logger}${newline}ThreadId：${threadid}" />-->
  </targets>
  <rules>
    <logger name="*" writeTo="file,console" minlevel="Trace" />
  </rules>
</nlog>