<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">
  <extensions>
    <add assembly="Rabbit.Components.Logging.NLog.Web" />
  </extensions>
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}App_Data\Logs\${shortdate}\log.log" keepFileOpen="false" archiveAboveSize="10240000"
          layout="Date：${longdate}${newline}Message：${message}${newline}Exception：${exception}${newline}Level：${level}${newline}Logger：${logger}${newline}ThreadId：${threadid}${newline}${url}${tenant}====================================================================================================" />
  </targets>
  <rules>
    <logger name="*" writeTo="file" minlevel="Warn" />
  </rules>
</nlog>