<?xml version="1.0" encoding="utf-8" ?>
<HostComponents>
  <Components>

    <Component Type="Rabbit.Kernel.Extensions.Impl.DefaultExtensionMonitoringCoordinator">
      <Properties>
        <!-- 设置为 "true" 则禁用扩展监控 -->
        <Property Name="Disabled" Value="true" />
      </Properties>
    </Component>

    <Component Type="Rabbit.Web.Mvc.DisplayManagement.Descriptors.ShapePlacementStrategy.PlacementFileParser">
      <Properties>
        <!-- 设置为 "true" 则禁用放置位置文件监控（Placement.info） -->
        <Property Name="DisableMonitoring" Value="true" />
      </Properties>
    </Component>

    <Component Type="Rabbit.Web.Mvc.DisplayManagement.Descriptors.ShapeTemplateStrategy.ShapeTemplateBindingStrategy">
      <Properties>
        <!-- 设置为 "true" 则禁用模板视图监控（Views\*.cshtml） -->
        <Property Name="DisableMonitoring" Value="false" />
      </Properties>
    </Component>

    <Component Type="Rabbit.Kernel.Extensions.Folders.Impl.DefaultExtensionHarvester">
      <Properties>
        <!-- 设置为 "true" 则禁用扩展文件夹监控（新文件在模块和主题） -->
        <Property Name="DisableMonitoring" Value="false" />
      </Properties>
    </Component>

    <!--    <Component Type="Rabbit.Kernel.Extensions.Compilers.Impl.DefaultProjectFileParser">
      <Properties>
        ~1~ 设置为 "true" 则禁用项目文件监控 (/Modules/**/*.csproj) @1@
        <Property Name="DisableMonitoring" Value="true" />
      </Properties>
    </Component>-->

    <Component Type="Rabbit.Kernel.Extensions.Loaders.Impl.ReferencedExtensionLoader">
      <Properties>
        <!-- 设置为 "true" 则禁用引用装载机 -->
        <Property Name="Disabled" Value="false" />
      </Properties>
    </Component>

    <Component Type="Rabbit.Kernel.Extensions.Loader.Impl.PrecompiledExtensionLoader">
      <Properties>
        <!-- 设置为 "true" 则禁用预编译装载机 -->
        <Property Name="Disabled" Value="false" />
        <!-- 设置为 "true" 则禁用强依赖预编译文件监控（~/Modules/**/bin/*.dll） -->
        <Property Name="DisableMonitoring" Value="true" />
      </Properties>
    </Component>

    <Component Type="Rabbit.Kernel.Extensions.Loader.Impl.DynamicExtensionLoader">
      <Properties>
        <!-- 设置为 "true" 则禁用动态扩展装载机 -->
        <Property Name="Disabled" Value="true" />
        <!-- 设置为 "true" 则禁用动态扩展文件监控（.csproj和所有.cs文件） -->
        <Property Name="DisableMonitoring" Value="true" />
      </Properties>
    </Component>

    <Component Type="Rabbit.Web.Mvc.Extensions.Loader.RawThemeExtensionLoader">
      <Properties>
        <!-- 设置为 "true" 则禁用主题装载机 -->
        <Property Name="Disabled" Value="false" />
      </Properties>
    </Component>

    <Component Type="Rabbit.Kernel.FileSystems.Dependencies.Impl.DefaultDependenciesFolder">
      <Properties>
        <!-- 设置为 "true" 则禁用依赖文件夹监控 -->
        <Property Name="DisableMonitoring" Value="true" />
      </Properties>
    </Component>

    <Component Type="Rabbit.Kernel.FileSystems.Dependencies.Impl.DefaultExtensionDependenciesManager">
      <Properties>
        <!-- 设置为 "true" 则禁用依赖管理文件或文件夹监控 -->
        <Property Name="DisableMonitoring" Value="true" />
      </Properties>
    </Component>

    <Component Type="Rabbit.Kernel.Localization.Services.Impl.DefaultLocalizedStringManager">
      <Properties>
        <!-- 设置为 "true" 则禁用本地化文件监控（*.po） -->
        <Property Name="DisableMonitoring" Value="true" />
      </Properties>
    </Component>

    <Component Type="Rabbit.Kernel.Caching.Impl.DefaultParallelCacheContext">
      <Properties>
        <!-- 设置为 "true" 则禁用并行缓存 -->
        <Property Name="Disabled" Value="false" />
      </Properties>
    </Component>
  </Components>
</HostComponents>