@{
    //附加隐藏和显示功能
}
<style>
    .sidebarsizebtn {
        position: absolute;
        top: 100px;
        right: -24px;
        width: 24px;
        height: auto;
        white-space: normal;
        display: none;
    }

    .sidebar:hover .sidebarsizebtnhide {
        display: block;
    }

    .sidebarsizehide .sidebarsizebtnshow {
        opacity: 0.7;
        right: -8px;
        display: block;
    }

        .sidebarsizehide .sidebarsizebtnshow:hover {
            opacity: 1;
            right: -24px;
        }

    .sidebarsizehide .sidebarsizebtnhide {
        display: none !important;
    }

    .sidebar {
        transition: all ease .15s;
    }

    .sidebarsizehide .sidebar {
        left: -190px;
    }

        .sidebarsizehide .sidebar::before {
            display: none;
        }

    .sidebarsizehide .main-content {
        margin-left: 0;
    }

    .sidebarsizehide .breadcrumbs-fixed.breadcrumbs {
        left: 0 !important;
    }
</style>
<span id="sidebarsizebtns">
    <a href="#" class="btn btn-info btn-minier sidebarsizebtn sidebarsizebtnhide no-border"> <i class="glyphicon glyphicon-step-backward"></i> 隐藏</a>
    <a href="#" class="btn btn-info btn-minier sidebarsizebtn sidebarsizebtnshow no-border"> <i class="glyphicon glyphicon-step-forward"></i> 显示</a>
</span>
<script>
    $(function () {
        $("#sidebar").append($("#sidebarsizebtns"));
        $(".sidebarsizebtnhide").click(function () {
            $(document.body).addClass("sidebarsizehide");
        });
        $(".sidebarsizebtnshow").click(function () {
            $(document.body).removeClass("sidebarsizehide");
        });
    });
</script>

@{
    //滚动条优化
}
<style>
    #sidebar > div {
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
    }

        #sidebar > div:hover {
            overflow-y: auto;
            width: 99.999%;
        }

        #sidebar > div::-webkit-scrollbar {
            width: 6px;
        }

        /* 滚动槽 */
        #sidebar > div::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px #000000;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            -ms-border-radius: 0px;
            border-radius: 0px;
        }

        /* 滚动条滑块 */
        #sidebar > div::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background: #438eb9;
            box-shadow: inset 0 0 6px rgba(67, 142, 185,0.5);
        }

            #sidebar > div::-webkit-scrollbar-thumb:window-inactive {
            }
</style>
<script src="~/Themes/TheAdmin/Scripts/jquery.nicescroll/jquery.nicescroll.min.js"></script>
<script>
    $(function () {
        var autoHeight = function () {
            $("#sidebar nav").height($(this).height() - $("#navbar").height());
        };
        autoHeight();
        $("#sidebar > div").niceScroll({ cursorcolor: "#438eb9", horizrailenabled: false });
        //自适应高度。
        $(window).resize(function () {
            autoHeight();
        });
    });
    $(function () {
        //菜单滚动条到选中的位置

        setTimeout(function () {

            var box = $(".zone.zone-navigation");
            var active = box.find(".nav-list.nav.menu.menu-admin > .active:last");
            if (!active.get(0)) return;

            //直接转到
            //active.get(0).scrollIntoView();

            //动画转到
            var top = active.offset().top - box.offset().top;
            box.animate({ scrollTop: top + "px" });

            //焦点边框
            //setTimeout(function() {
            //    active.css({ border: "1px solid #2b7dbc" });
            //    setTimeout(function() {
            //        active.css({ border: "" });
            //    }, 400);
            //}, 100);

        }, 100);
    });
</script>