<div class="panel panel-default">
    <a href="#page-stats" class="panel-heading" data-toggle="collapse">Latest Stats</a>
    <div id="page-stats" class="panel-collapse panel-body collapse in">

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="knob-container">
                    <input class="knob" data-width="200" data-min="0" data-max="3000" data-displayprevious="true" value="2500" data-fgcolor="#92A3C2" data-readonly=true;>
                    <h3 class="text-muted text-center">Accounts</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="knob-container">
                    <input class="knob" data-width="200" data-min="0" data-max="4500" data-displayprevious="true" value="3299" data-fgcolor="#92A3C2" data-readonly=true;>
                    <h3 class="text-muted text-center">Subscribers</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="knob-container">
                    <input class="knob" data-width="200" data-min="0" data-max="2700" data-displayprevious="true" value="1840" data-fgcolor="#92A3C2" data-readonly=true;>
                    <h3 class="text-muted text-center">Pending</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="knob-container">
                    <input class="knob" data-width="200" data-min="0" data-max="15000" data-displayprevious="true" value="10067" data-fgcolor="#92A3C2" data-readonly=true;>
                    <h3 class="text-muted text-center">Completed</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading no-collapse">Not Collapsible<span class="label label-warning">+10</span></div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>Tompson</td>
                        <td>the_mark7</td>
                    </tr>
                    <tr>
                        <td>Ashley</td>
                        <td>Jacobs</td>
                        <td>ash11927</td>
                    </tr>
                    <tr>
                        <td>Audrey</td>
                        <td>Ann</td>
                        <td>audann84</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Robinson</td>
                        <td>jr5527</td>
                    </tr>
                    <tr>
                        <td>Aaron</td>
                        <td>Butler</td>
                        <td>aaron_butler</td>
                    </tr>
                    <tr>
                        <td>Chris</td>
                        <td>Albert</td>
                        <td>cab79</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="panel panel-default">
            <a href="#widget1container" class="panel-heading" data-toggle="collapse">Collapsible </a>
            <div id="widget1container" class="panel-body collapse in">
                <h2>Here's a Tip</h2>
                <p>This template was developed with <a href="http://middlemanapp.com/" target="_blank">Middleman</a> and includes .erb layouts and views.</p>
                <p>All of the views you see here (sign in, sign up, users, etc) are already split up so you don't have to waste your time doing it yourself!</p>
                <p>The layout.erb file includes the header, footer, and side navigation and all of the views are broken out into their own files.</p>
                <p>If you aren't using Ruby, there is also a set of plain HTML files for each page, just like you would expect.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading no-collapse">
                <span class="panel-icon pull-right">
                    <a href="#" class="demo-cancel-click" rel="tooltip" title="Click to refresh"><i class="fa fa-refresh"></i></a>
                </span>

                Needed to Close
            </div>
            <table class="table list">
                <tbody>
                    <tr>
                        <td>
                            <a href="#"><p class="title">Care Hospital</p></a>
                            <p class="info">Sales Rating: 86%</p>
                        </td>
                        <td>
                            <p>Date: 7/19/2012</p>
                            <a href="#">View Transaction</a>
                        </td>
                        <td>
                            <p class="text-danger h3 pull-right" style="margin-top: 12px;">$20,500</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#"><p class="title">Custom Eyesight</p></a>
                            <p class="info">Sales Rating: 58%</p>
                        </td>
                        <td>
                            <p>Date: 7/19/2012</p>
                            <a href="#">View Transaction</a>
                        </td>
                        <td>
                            <p class="text-danger h3 pull-right" style="margin-top: 12px;">$12,600</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#"><p class="title">Clear Dental</p></a>
                            <p class="info">Sales Rating: 76%</p>
                        </td>
                        <td>
                            <p>Date: 7/19/2012</p>
                            <a href="#">View Transaction</a>
                        </td>
                        <td>
                            <p class="text-danger h3 pull-right" style="margin-top: 12px;">$2,500</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#"><p class="title">Safe Insurance</p></a>
                            <p class="info">Sales Rating: 82%</p>
                        </td>
                        <td>
                            <p>Date: 7/19/2012</p>
                            <a href="#">View Transaction</a>
                        </td>
                        <td>
                            <p class="text-danger h3 pull-right" style="margin-top: 12px;">$22,400</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="panel panel-default">
            <a href="#widget2container" class="panel-heading" data-toggle="collapse">Collapsible </a>
            <div id="widget2container" class="panel-body collapse in">
                <h2>Built with Less</h2>
                <p>The CSS is built with Less. There is a compiled version included if you prefer plain CSS.</p>
                <p>Fava bean jícama seakale beetroot courgette shallot amaranth pea garbanzo carrot radicchio peanut leek pea sprouts arugula brussels sprout green bean. Spring onion broccoli chicory shallot winter purslane pumpkin gumbo cabbage squash beet greens lettuce celery. Gram zucchini swiss chard mustard burdock radish brussels sprout groundnut. Asparagus horseradish beet greens broccoli brussels.</p>
                <p><a class="btn btn-primary">Learn more »</a></p>
            </div>
        </div>
    </div>
</div>

<footer>
    <hr>
    <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
    <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
    <p>© 2014 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
</footer>