<div class="panel panel-default">
    <p class="panel-heading">Gallery of Things</p>
    <div class="panel-body gallery">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="panel panel-default">
            <p class="panel-heading">Gallery of Stuff</p>
            <div class="panel-body gallery">
                <img src="~/Modules/Rabbit.UserInterface/Content/Images/170x170.gif" class="img-polaroid">
                <img src="~/Modules/Rabbit.UserInterface/Content/Images/170x170.gif" class="img-polaroid">
                <img src="~/Modules/Rabbit.UserInterface/Content/Images/170x170.gif" class="img-polaroid">
                <img src="~/Modules/Rabbit.UserInterface/Content/Images/170x170.gif" class="img-polaroid">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="panel panel-default">
            <p class="panel-heading">Gallery of Stuff</p>
            <div class="panel-body gallery">
                <img src="~/Modules/Rabbit.UserInterface/Content/Images/170x170.gif" class="img-polaroid">
                <img src="~/Modules/Rabbit.UserInterface/Content/Images/170x170.gif" class="img-polaroid">
                <img src="~/Modules/Rabbit.UserInterface/Content/Images/170x170.gif" class="img-polaroid">
                <img src="~/Modules/Rabbit.UserInterface/Content/Images/170x170.gif" class="img-polaroid">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <p class="panel-heading">Gallery of Stuff</p>
    <div class="panel-body gallery">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <img src="~/Modules/Rabbit.UserInterface/Content/Images/140x140.gif" class="img-polaroid">
        <div class="clearfix"></div>
    </div>
</div>

<footer>
    <hr>

    <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
    <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
    <p>© 2014 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
</footer>